# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# autoconf stuff
autom4te.cache
configure
configure.in
aclocal.m4
config.status
depcomp
install.sh
Makefile
Makefile.in
missing
stamp-h1
